body {
	font-family: arial;
}

h1, h2 {
	color: purple;
}

h2 {
	font-style: italic;
}

ul li a {
	color: orange;

}

ol li a {
color: orangered;
}

#p1 {
	color: greenyellow;
}

.p2 {
	color: darkgray;
}

.class-ga-ngaruh {
	font-weight: bold;
}
p.class-ga-ngaruh
{
	font-size: 30px;
	/* cara bacanya: p, tolong targetin di tag p yg ada di html, tapi yang ada di class-ga-ngaruh aja */
}